body {
    font-family: sans-serif;
    background-color:rgb(4, 255, 80);
}

h1 {
    text-align: center;
    color: blue;
    font-size: 40px;
}

p img {
    width: 250px;
    margin: 15px;
    border: 10px solid darkblue;
}
   {
    margin: 15px;
    border: 10px solid darkblue;
   }
